Source: libvmod-drupal7
Section: web
Priority: extra
Maintainer: Xavier Guerrin <xavier@tuxfamily.org>
Build-Depends: debhelper (>= 7),
 build-essential,
 pkg-config,
 python-docutils,
 varnish (>= 4.0.2),
 libvarnishapi-dev (>= 4.0.2)
Standards-Version: 3.8.1
Vcs-Git: https://gitorious.org/libvmod-drupal7/libvmod-drupal7.git

Package: libvmod-drupal7
Architecture: any
Depends: varnish (>= 4.0.2), ${shlibs:Depends}, ${misc:Depends}, ${Varnish:ABI}
Description: Drupal 7 Varnish vmod; provides Drupal-related functions within Varnish.
